.wd-kanbas-navigator{
    background-color: black;
    color: white;
    width: 85px;
    border-radius: 0px;
    margin-right: 20px;
}

.wd-kanbas-navigator li{
    background-color: black;
    list-style-type: none;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    /* margin: 5px; */
    padding: 5px;
    /* line-height: 1.5; */
}

.wd-kanbas-navigator i{
    color: red;
}

.wd-kanbas-navigator .account{
    color: white;
}

.wd-kanbas-navigator a{
    text-decoration: none;
    color: white;
}

.wd-kanbas-navigator :active{
    background-color: white;
    color: red;
    border-left: 4px black;
}