.wd-account-navigator{
    background-color: white;
    color: white;
    width: 200px;
}

.wd-account-navigator li{
    background-color: white;
    text-align: left;
    inline-size: 150px;
    word-wrap: normal;
    padding-bottom: 15px;
}

.wd-account-navigator a{
    text-decoration: none;
    color: red;
}

.wd-account-navigator li :active{
    color: black;
    border-left: solid black;
    padding-left: 8px;
}